@using Elmah.ContentSyndication
@model WonderApp.Models.DealModel

<div class="container-fluid">
    <div class="row">
            <div class="col-md-2"><img src="@Model.Images[0].url" width="100%" height="100%" /></div>
            <div class="col-md-10">
                <div class="row">
                    @Html.LabelFor(model => model.IntroDescription, htmlAttributes: new { @class = "col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayFor(m => m.IntroDescription)
                    </div>
                </div>
                <div class="row">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayFor(m => m.Description)
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    @Html.LabelFor(model => model.Cost.Range, htmlAttributes: new { @class = "col-md-4" })
                    <div class="col-md-8">
                        @Html.DisplayFor(m => m.Cost.Range)
                    </div>
                </div>
                <div class="row">
                    @Html.LabelFor(model => model.ExpiryDate, htmlAttributes: new { @class = "col-md-4" })
                    <div class="col-md-8">
                        @Html.DisplayFor(m => m.ExpiryDate)
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    @Html.LabelFor(model => model.Likes, htmlAttributes: new { @class = "col-md-4" })
                    <div class="col-md-8">
                        @Html.DisplayFor(m => m.Likes)
                    </div>
                </div>
                @*<div class="row">
                    @Html.LabelFor(model => model.Company.Id, htmlAttributes: new { @class = "col-md-4" })
                    <div class="col-md-8">
                        @Html.DisplayFor(m => m.Company.Name)
                    </div>
                </div>*@
            </div>
            <div class="col-md-5">
                <div class="row">
                    @Html.LabelFor(model => model.Location.Name, htmlAttributes: new { @class = "col-md-4" })
                    <div class="col-md-8">
                        @Html.DisplayFor(m => m.Location.Name)
                    </div>
                </div>
                <div class="row">
                    @Html.LabelFor(model => model.Category.Id, htmlAttributes: new { @class = "col-md-4" })
                    <div class="col-md-8">
                        @Html.DisplayFor(m => m.Category.Name)
                    </div>
                </div>
            </div>
        </div>
</div>
