@model IEnumerable<WonderApp.Models.DealSummaryModel>

@{
    ViewBag.Title = "Wonders";
}


<h2>Wonders</h2>

<p>
    <a class="btn btn-success" href="@Url.Action("Create")">Create Wonder</a>
</p>

@if (!Model.Any())
{
<p>No wonders at moment.</p>
}
else
{
    <table class="table table-striped table-responsive table-nonfluid" id="dealList">
        <thead>
            <tr>
                <th class="col-md-1 details-control">
                    
                </th>
                <th class="col-md-2">
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th class="col-md-2">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th class="col-md-2">
                    @Html.DisplayNameFor(model => model.Url)
                </th>
                <th class="col-md-2">
                    @Html.DisplayNameFor(model => model.ExpiryDate)
                </th>
                <th class="col-md-1">
                    @Html.DisplayNameFor(model => model.Likes)
                </th>
                <th class="col-md-2"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="details-control" id="@item.Id"></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Url)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpiryDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Likes)
                    </td>
                    <td>
                        <a title="Edit Wonder" class="btn btn-sm btn-info" href="@Url.Action("Edit",new{id = item.Id})"><i class="fa fa-pencil-square-o fa-lg"></i></a>
                        <a title="Delete Wonder" class="btn btn-sm btn-danger" href="@Url.Action("Delete", new{id = item.Id})"><i class="fa fa-times fa-lg"></i></a>
                        <a title="Copy Wonder" class="btn btn-sm btn-warning" href="@Url.Action("Copy", new{id = item.Id})"><i class="fa fa-files-o fa-lg"></i></a>
                    </td>

                </tr>
            }
        </tbody>
    </table>

    @section Scripts {
        @Scripts.Render("~/bundles/dataTables")
        
      
        <script type="text/javascript">

            $(document).ready(function() {

                var dTable;
               
                // Add event listener for opening and closing details
                $('#dealList tbody').on('click', 'td.details-control', function() {
                    var tr = $(this).closest('tr');
                    var row = dTable.row(tr);

                    if (row.child.isShown()) {
                        // This row is already open - close it
                        row.child.hide();
                        tr.removeClass('shown');
                    } else {
                        // Open this row
                        var dealId = this.id; //$(this).attr("rel");                   
                        $.get("Deal/DealDetail?dealId=" + dealId, function(deals) { 
                            row.child(deals).show();
                            tr.addClass('shown');
                        });
                    }

                });

                dTable = $('#dealList').DataTable({
                    "bSortable": false, "aTargets": [0,1]
            });

            });

        </script>

    }

    
    
}


