@model IEnumerable<WonderApp.Models.UserViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Users</h2>

<p>
    <a class="btn btn-success" href="@Url.Action("Create")">Create user</a>
</p>
@if (!Model.Any())
{
    <p>No users at moment.</p>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserModel.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserModel.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAdmin)
            </th>
            
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserModel.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserModel.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAdmin)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = item.UserModel.Id}) |
                    @Html.ActionLink("Delete", "Delete", new {id = item.UserModel.Id})
                </td>
            </tr>
        }

    </table>
}