@model WonderApp.Models.EmailTemplateViewModel

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body style="font-family:Arial;">
    <table style="width:600px;">
        <tr>
            <td style="text-align:center;">
                <img style="width:100px;" src='@(Model.UrlString + "wonderappLogo.jpg")' alt="wonder app" />
            </td>
        </tr>
        <tr>
            <td>
                <br /><br />
            </td>
        </tr>
        <tr>
            <td>
                Hi @(Model.User.Forename),
                <br /><br />
                Enjoy exploring the city around you, with the wonders you have recently saved!
                <br /><br />
                We would love you to invite your friends to the world of Wonder by sharing this email. They can also download the app <a href="" style="color:rgb(31,125,190); text-decoration:none;">here</a>
                <br /><br />
                Have a great week and let us know what you have discovered @@thewonderapp!
                <br /><br />
                The Wonder Team
            </td>
        </tr>
        <tr>
            <td>
                <br /><br />
            </td>
        </tr>
        <tr>
            <td style="text-align:center; ">
                <img style="width:200px;" src='@(Model.UrlString + "Logo_Wonder.png")' alt="wonder app" />
                @*<img style="width:200px;" src='~/Content/images/Logo_Wonder.png' alt="wonder app" />*@

             </td>
        </tr>
        <tr>
            <td>
                <br /><br />
            </td>
        </tr>


        @foreach (var item in @Model.Wonders)
        {
            var company = "";
            <tr>
                <td>
                    <a href="@(item.Url)" target="_blank">
                        <table cellpadding="5" style="width:600px; height:150px;">
                            <tr style="color: #FFFFFF;">
                                <td style="width: 130px; text-align:center;">
                                    <img style="width: 120px;" src="@if (@item.Images != null && @item.Images.Count>0){@item.Images.FirstOrDefault().url}" alt="wonder app" />
                                </td>
                                <td style="border:1px solid grey; color:grey; width:390px; padding-left:10px;">
                                    <h3>
                                        @if (@item.Title != null)
                                        {@("#" + item.Title)}
                                    </h3>
                                    <h5>
                                        @if (@item.Company != null && @item.Company.Name != null)
                                        { company = item.Company.Name; }
                                        @if (@item.Address != null && @item.Address.AddressLine1 != null)
                                        {
                                            company += ", " + item.Address.AddressLine1;
                                            @company
                                        }

                                    </h5>
                                    @if (@item.Description != null)
                                    {@item.Description}
                                </td>
                                <td style="border:1px solid grey; color:grey; width:70px; padding-left:20px;">
                                    <table>
                                        <tr>
                                            <td>
                                                <img style="width: 14px;" src="@(Model.UrlString + "thumb.png")" alt="wonder app" />
                                            </td>
                                            <td style="padding-top:6px; padding-left:4px;">
                                                @if (@item.Likes != null)
                                                {@item.Likes}
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </a>
                </td>
            </tr>
            <tr><td style="height:5px;"></td></tr>
        }


        <tr>
            <td>
                <br /><br />
                <a href="@(Model.UnsubscribeLink)" style="color:rgb(31,125,190); text-decoration:none;">Click here</a> to unsubscribe
            </td>
        </tr>
    </table>





</body>
</html>